#comment {
	width: 430px;
	margin: 30px auto;
	background-color: transparent;
	padding: 0px 30px;
	float:none;
	color:#000000;
}

/* label { float: left;
clear: left;
display: block;
width: 100px;
text-align: left;
padding-right: 10px;
margin-top: 10px; }

input {text-align: left;
margin-top: 10px;
display: block;
background-color: #ffffcc;
width: 200px; height: 35px;}
 */
.page-container {
	width:350px;
	height:auto;
    margin: 0px auto 0 auto;
	color:#000000;
}

#submit {margin-left: 110px;
width: 100px; height: 35px}

h1{
	text-align:center;
}
